BODY
{
	overflow: hidden;
}

.center {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 30%;
}

.background {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 100%;
	height: 100%;
}

.progressbar
{
	margin: 0 auto;
	width: 150px;
	border-radius: 3px;
	text-align: left;
	padding: 1px;
	background-color: rgba( 0, 0, 0, 0.6);
	float: right;
}

.progressbar .inner
{
	border-radius: 2px;
	background-color: rgba( 0, 240, 0, 1.0);
	width: 0.2%;
	height: 11px;
}

#progress_text
{
	position: absolute;
	width: 500px;
	right: 170px;
	bottom: 0px;
	margin: 0 auto;
	text-align: right;
	font-size: 12px;
	font-family: helvetica;
	color: rgba( 0, 0, 0, 0.4);
	letter-spacing: -1px;
	text-shadow: 0px 0px 3px white;
	overflow: hidden;
	white-space: nowrap;
}